.FloatingBar {
    width: 819px;
    height: 78px;
    position: fixed;
    bottom: 30px;
    border-radius: 30px;
    background-color: #f1f2f6;
    display: flex;
    column-gap: 48px;
    justify-content: center;
    align-items: center;
}