.MeetingCard {
    width: 250px;
    height: 247px;
    border-radius: 0 0 5px 5px;
    background-color: #eaebf1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    .cardimage {
        width: 100%;
        height: 127px;
        position: relative;
    }
    .dday {
        width: 39px;
        height: 25px;
        color: white;
        background-color: #fd6262;
        border-radius: 15px;
        text-align: center;
        line-height: 25px;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 8px;
        right: 9px;
        z-index: 2;
    }
    .participant {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5px;
        margin-top: 12px;
    }
    .meetingcardtitle {
        margin-left: 13px;
        margin-top: 11px;
        font-size: 14px;
        font-weight: 600;
    }
    .meetinginfo {
        width: 150px;
        height: 36px;
        //border: 1px solid orange;
        margin-left: 13px;
        margin-top: 9px;
        .meetinginfoline {
            height: 14px;
            line-height: 14px;
            //font-size: 18px;
            display: flex;
            flex-direction: row;
        }
    }
    .meetingwriter {
        width: 167px;
        height: 30px;
        margin-top: 12px;
        margin-left: 9px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .meetingprofileimage {
            width: 30px;
            height: 30px;
        }
        .meetingprofilebox {
            width: 108px;
            height: 100%;
            margin-left: 8px;
            color: #797979;
            .meetingwritername {
                width: 100%;
                font-weight: 600; // semibold
                font-size: 14px;
                line-height: 14px;
            }
            .meetingwriterinfo {
                margin-top: 6px;
                width: 97px;
                font-size: 10px;
                line-height: 10px;
            }
        }   
    }
}












