.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1000px;
	margin: 0 auto;
}
.MeetingCard {
	margin-top: 50px;
	width: 250px;
	height: 247px;
	margin-right: 60px;
	.cardimage {
		height: 127px;
	}
	.participant {
		width: 14px;
		height: 14px;
	}
}

.menu-body {
	margin-top: 50px;
}
