.profile-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 62px;
	.pro-privacy {
		display: flex;
		flex-direction: row;
		.info-right {
			margin-top: 10.5px;
			.right-img {
				width: 175px;
				height: 175px;
				border-radius: 175px;
				border: 1px solid #0028fb;
				background: #f0f0f0;
				img {
					width: 175px;
					height: 175px;
					border-radius: 175px;
				}
			}
			.right-btns {
				margin-top: 32px;
				text-align: center;
				.right-btn-style {
					color: var(--univ-blue);
					font-size: 16px;
					font-weight: 700;
					cursor: pointer;
					border-radius: 5px;
					border: 1px solid var(--univ-blue);
					background: #fff;
					padding: 6px;
					margin-right: 8px;
				}
				.modify-input {
					display: none;
				}
			}
		}
		.profile-hr {
			height: 263px;
			margin-left: 45px;
			margin-right: 45px;
		}
		.info-left {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.left-label {
				font-size: 14px;
				font-weight: 600;
			}
			.name-box {
				margin-bottom: 16px;
				display: flex;
				flex-direction: column;
				input {
					width: 257px;
					padding: 8px 16px;
					border-radius: 5px;
					border: 1px solid #2f3db8;
					background: #f0f0f0;
					margin-top: 6px;
					&::placeholder {
						color: rgba(0, 0, 0, 0.2);
					}
					&:focus {
						background-color: var(--univ-white);
					}
					&:valid {
						background-color: var(--univ-white);
					}
				}
			}
			.radio-box {
				.radio-group {
					display: flex;
					flex-direction: row;
					.radio-input {
						.gender-style {
							margin-top: 8px;
							color: #aaa;
							font-size: 16px;
						}
						input {
							margin-right: 18px;
							/* input checked시 label 색상변경 안됨*/
							/* font 관련 스타일만 안 먹는 듯*/
							&[name='drone']:checked {
								color: #0028fb;
								margin-left: 50px;
							}
						}
					}
				}
			}
		}
	}
	.pro-box {
		display: flex;
		flex-direction: column;
		margin-top: 43px;
		label {
			color: #000;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 8px;
		}
		textarea {
			width: 565px;
			height: 103px;
			border-radius: 10px;
			border: 2px solid #eaebf1;
			background: #fff;
			margin-bottom: 44px;
			// textarea 세줄 없애기
			resize: none;
		}
	}
	.pro-btns {
		.secession-btn {
			border-radius: 5px;
			border: 1px solid #000;
			background: #fff;
			padding: 8px 16px;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700;
			margin-right: 400px;
		}
		.save-btn {
			color: #fff;
			padding: 8px 16px;
			border-radius: 5px;
			border: 1px solid #2f3db8;
			background: #2f3db8;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700;
		}
	}
}
