.self-verification {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 76px;
	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 76px;
		.main-title {
			text-align: center;
			font-size: 24px;
			font-weight: 700;
		}
		.sub-title {
			font-size: 14px;
			margin-top: 14px;
			font-weight: 500;
		}
	}
	.verification-form {
		.form-box {
			margin-bottom: 27px;
			display: flex;
			flex-direction: column;
			input[type='number']::-webkit-outer-spin-button,
			input[type='number']::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			.form-title {
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 4px;
			}
			.verify-text {
				border-radius: 8px;
				border: 1px solid #2f3db8;
				background: #fff;
				height: 35px;
				width: 257px;
				padding-left: 10px;
				&::placeholder {
					color: rgba(0, 0, 0, 0.3);
				}
			}
			.form-input {
				// .verity-email-address {
				// 	position: absolute;
				// 	font-size: 10px;
				// 	font-weight: 500;
				// 	margin-left: 10px;
				// }
				.form-btn {
					border-radius: 5px;
					border: 1px solid var(--univ-blue);
					background: var(--univ-blue);
					padding: 7px;
					color: var(--univ-white);
					font-size: 14px;
					margin-left: 19px;
					cursor: pointer;
				}
			}
			.form-error {
				color: var(--univ-red);
				font-size: 10px;
				font-weight: 400;
				margin-top: 3px;
				margin-top: 8px;
			}
			.form-radio {
				color: #aaa;
				font-size: 16px;
				font-weight: 600;
				label {
					margin-right: 5px;
				}
				input {
					margin-right: 10px;
					&:checked {
						accent-color: var(--univ-blue);
					}
					&:checked + label {
						color: var(--univ-black);
					}
				}
			}
		}
	}
	.submit-btn {
		border-radius: 5px;
		border: 1px solid var(--univ-blue);
		background: var(--univ-blue);
		padding: 7px;
		color: var(--univ-white);
		font-size: 15px;
		margin-top: 28px;
		cursor: pointer;
		margin-left: 120px;
	}
}
