:root {
	// color
	--univ-blue: #2f3db8;
	--univ-red: #ff0000;
	--univ-background: #eaebf1;
	--univ-black: #25313C;
	--univ-white: #ffffff;

	// font-size
	--h1-size: 30px;
	--h2-size: 24px;
	--h3-size: 20px;
	--default-size: 18px
	--small-size: 16px

	// font-weight
	--bold-weight: 700
}

body {
	width: 1280px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: var(--univ-black);
	font-size: var(--default-size);
	font-weight: 400;
	background-color: var(--univ-white);
}
